.main-slider {
  position: relative;
  height: 35rem;
}
.carousel-box {
  display: flex;
  gap: 1.6rem;
}
h3 {
  font-size: 1.8rem;
  color: #fff;
  padding-left: 4.3rem;
}
img {
  min-width: 23.3rem;
  width: 100%;
  height: 27rem;
}
.slider-container {
  width: 100%;
  overflow-x: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inner-slider {
  padding-left: 4.3rem;
  display: flex;
  gap: 1rem;
}
.card {
  border-radius: 1rem;
  position: relative;
  pointer-events: none;
}
.card::after {
  z-index: 999;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 40%;
  background: linear-gradient(
    180deg,
    rgba(13, 101, 156, 0.227) 0%,
    rgba(13, 100, 155) 60%
  );
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.card:nth-child(2)::after {
  height: 32%;
  background: linear-gradient(
    180deg,
    rgba(239, 84, 28, 0.227) 0%,
    rgba(239, 84, 28) 20%
  );
}
.card:nth-child(3)::after {
  background: linear-gradient(
    180deg,
    rgba(26, 23, 108, 0.227) 0%,
    rgb(26, 23, 108) 30%
  );
}
h4,
p {
  position: absolute;
  z-index: 9999;
  top: 70%;
  left: 1.9rem;
}
h4 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 900;
}
p {
  top: 80%;
  max-width: 18.1rem;
  color: #fff;
  font-size: 1.4rem;
}
@media (max-width: 46.75em) {
  h4 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.2rem;
  }
  img {
    min-width: 20rem;
    width: 100%;
    height: 21rem;
  }
  .main-slider {
    height: 30rem;
  }
}
@media (max-width: 31.25em) {
  .inner-slider {
    padding-left: 1.8rem;
  }
}
