<div class="main-box">
  <h3>მსგავსი აქციები</h3>
  <div class="main-slider">
    <div class="slider-container" #sliderContainer>
      <div class="inner-slider" #innerSlider>
        <div class="card">
          <img src="/assets/offer1.png" alt="card1" />
          <h4>Get 300% Cashback</h4>
          <p>retrieve 300% bet amount as real money only here</p>
        </div>
        <div class="card">
          <img src="/assets/offer2.png" alt="card2" />
          <h4>Coming Soon</h4>
          <p>retrieve 300% bet amount as real money only here</p>
        </div>
        <div class="card">
          <img src="/assets/offer3.png" alt="card3" />
          <h4>Win a Jackpot</h4>
          <p>retrieve 300% bet amount as real money only here</p>
        </div>
        <div class="card">
          <img src="/assets/offer1.png" alt="card4" />
          <h4>Get 300% Cashback</h4>
          <p>retrieve 300% bet amount as real money only here</p>
        </div>
      </div>
    </div>
  </div>
</div>
