p {
  color: #fff;
}
.main-box {
  max-width: 94rem;
  margin-top: 4rem;
  padding-bottom: 5rem;
  border-radius: 2rem;
  background-color: #1c1d1e;
  position: relative;
}
.main-banner {
  width: 100%;
  height: 35rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.main-box__inside {
  padding: 0 4.3rem 5rem 4.3rem;
  overflow: hidden;
}
.play-offer {
  border-top: 0.2rem solid #f05a22;
  background-color: #171718;
  position: fixed;
  bottom: 0;
  z-index: 99999;
  max-width: 94rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.6rem 0;
  margin: 0;
}
.play-offer > input {
  font-size: 1.5rem;
  color: #fff;
  background-color: #f05a22;
  border: none;
  padding: 0.8rem 4rem;
}
h3 {
  padding-top: 1rem;
  font-size: 2rem;
  color: #fff;
}
p {
  color: #fff;
  padding-top: 0.9rem;
  font-size: 1.6rem;
}
.main-slot-box {
  position: fixed;
  top: 5.6rem;
  padding: 0 1.6rem;
  pointer-events: none;
  width: 100%;
  max-width: 94rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-slot-box > div:first-child {
  background-color: #25292b;
  border-radius: 1.4rem;
  pointer-events: all;
}
.main-slot-box > div:last-child {
  display: flex;
  pointer-events: all;
  padding: 1.2rem;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: #25292b;
}
.main-slot-box > div img {
  width: 1rem;
  height: 1rem;
}
.nav-box {
  display: none;
}
.nav-box > img {
  width: 3rem;
  height: 3rem;
}
.nav-box > div {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.btn {
  border: none;
  color: #fff;
  padding: 1rem 1.9rem;
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
.btn2 {
  background-color: #ef602a;
}
.btn1 {
  background-color: transparent;
}
@media (max-width: 31.25em) {
  .main-slot-box {
    display: none;
  }
  .main-banner {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 27rem;
  }
  .main-box {
    margin-top: 0;
  }
  .nav-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13rem 2rem 1.5rem 2rem;
    width: 100%;
    background-color: #1c1d1e;
  }
}
@media (max-width: 30em) {
  .main-box__inside {
    padding: 0 1.8rem 4rem 1.8rem;
  }
}
